.project-details {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 40px;
}

.project-img {
  width: 50%;
}

.project-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.project-info p {
  margin: 5px;
}

.project-name {
  font-size: 1.5em;
}

.project-links {
  display: flex;
  justify-content: space-evenly;
}

.link-logo {
  margin: 10px;
}
.project-description {
  text-align: center;
}