#nav {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--background);
}

#sticky-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--highlight);
  width: 90vw;
  height: 50px;
  padding: 5px;
}

nav {
  width: 30%;
  display: flex;
  justify-content: space-between;
}

#logo {
  font-family: var(--header);
}

nav a {
  color: var(--standard);
  text-decoration: none;
}

@media screen and (max-width: 875px) {
  nav {
    width: 45%;
    min-width: 240px;
  }
}