:root {
  /* FONTS */
  --header: 'Kumar One', cursive;
  --basic: 'Kameron', serif;
  /* COLORS */
  --background: #021619;
  --highlight: #09814A;
  --standard: #E5C687;
  --support: #E5C687;
}

body {
  background-color: var(--background);
  color: var(--standard);
  font-family: var(--basic);
}