:root {
  /* FONTS */
  --header: 'Kumar One', cursive;
  --basic: 'Kameron', serif;
  /* COLORS */
  --background: #021619;
  --highlight: #09814A;
  --standard: #E5C687;
  --support: #E5C687;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
  color: var(--standard);
  font-family: var(--basic);
}

.App {
  position: relative;
}

.section-header {
  font-family: var(--header);
  color: var(--highlight);
  font-size: 2em;
  margin: 10px;
}

form input {
  background-color: var(--support);
  caret-color: var(--highlight);
  color: var(--background);
  font-family: var(--basic);
  margin: 10px;
  padding: 10px;
}

form textarea {
  background-color: var(--support);
  caret-color: var(--highlight);
  color: var(--background);
  font-family: var(--basic);
  margin: 10px;
  padding: 10px;
}

button {
  background-color: var(--background);
  border: 1px solid var(--standard);
  color: var(--standard);
  font-family: var(--basic);
  margin: 20px;
  padding: 10px 20px;
  transition-duration: .5s;
  box-sizing: border-box;
}

button:hover {
  background-color: var(--highlight);
  /* font-size: 1.1em; */
  /* transform: scale(1.05) */
}

button:active {
  color: var(--highlight);
  background-color: var(--support);
}

.link-button {
  transition-duration: .5s;
}

.link-button:hover {
  background-color: var(--highlight);
}

.link-button:active {
  color: var(--highlight);
  background-color: var(--support);
}

@media screen and (max-width:771px) {
  body {
    font-size: .75em;
  }
}