#about-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* height: 75vh; */
  margin-top: 20px;
  padding: 80px 50px 30px;
  border-bottom: 1px solid var(--highlight);
  width: 80vw;
}

#about-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 20px;
  width: 60%;
}

#about-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
  width: 40%;
}

#hi {
  margin: 10px 0;
}

#bio {
  line-height: 28px;
  font-size: 1.14em;
  text-align: justify;
}

#about-right img {
  padding: 5px;
  height: auto;
  width: 100%;
  max-width: 350px;
  min-width: 250px;
}

@media screen and (max-width: 925px) {
  #hi {
    font-size: 1.9em;
  }
  #bio {
    font-size: 1em;
  }
}

@media screen and (max-width: 785px) {
  #about-div {
    flex-direction: column;
    align-items: center;
    padding: 30px 0px 20px;
  }
  #hi {
    font-size: 2.1em;
  }
  #about-left {
    padding-right: 0;
  }
  #about-right {
    order: -1;
    margin: 30px;
    padding-left: 0;
    padding-top: 10px;
  }

  #about-right img {
    min-width: 100px;
  }
}

@media screen and (max-width: 550px) {
  #about-right img {
    min-width: 120px;
  }
  #about-left {
    width: 80%;
  }
}
