.contact-right form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px;
  padding: 30px;
}

.contact-right form input {
  width: 100%;
}

.contact-right form textarea {
  width: 100%;
}

@media screen and (max-width: 500px) {
  .contact-right form {
    margin: 10px auto;
    padding: 0 10px 10px;
  }
}