#skills-div {
  padding-top: 140px;
  border-bottom: 1px solid var(--highlight);
  position: relative;
  display: grid;
  grid-template-areas: 
  "A B"
  "C C";
}

#skills-div h2 {
  position: absolute;
  top: 70px;
  left: 0;
}

.skills {
  text-align: center;
}

.fullstack {
  display: grid;
  grid-template-areas: 
  ". H ."
  "A B C"
  "E F G";
}

.skill-icon img {
  margin: 15px;
}