#skills-div {
  padding-top: 100px;
  padding-bottom: 30px;
  border-bottom: 1px solid var(--highlight);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#skills-div h2 {
  position: absolute;
  top: 70px;
  left: 0;
}

.skills {
  text-align: center;
  margin: 10px;
  padding: 15px;
}

.skills h4 {
  font-size: 1.3em;
  padding: 5px;
  border-bottom: 1px solid var(--standard);
}

.fullstack-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 80%;
}

.fullstack-icons {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}

.other-icons {
  grid-area: C;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
}

.skill-icon img {
  margin: 15px;
}