#projects-div {
  padding-top: 70px;
  border-bottom: 1px solid var(--highlight);
  position: relative;
}

#projects-div h2 {
  position: absolute;
  top: 70px;
  left: 0;
}

#projects-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

@media screen and (max-width: 860px) {
  #projects-div {
    max-width: 85%;
  }
}
